* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    width: 1400px;
    height: max-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.article {
    line-height: 1.4em;
    padding: 20px;
    width: inherit;
    display: flex;
    margin: 20px 0;
    border: solid black 1px;
    border-radius: 10px;
}

.article__body {
    width: 1200px;
}

.article__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.article__title {
    width: max-content;
    padding: 0 10px;
    font-size: 22px;
    font-weight: bold;
}

.article__author {
    width: max-content;
    padding: 0 10px;
    font-size: 20px;
}

.hr {
    margin: 10px 0;
    width: 98%;
    height: 1px;
    background-color: #000;
}

.admin {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.admin a {
    display: block;
}

.admin a button {
    margin: 15px 0;
    width: 100px;
    height: 25px;
}

form {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

form input {
    width: 1258px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    margin-bottom: 10px;
}